<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <a class="navbar-brand" href="/">Kylexlau's Weblog</a>
    <ul class="nav nav-pills">
      <li class="active"><a class="navbar-link" href="/">Home</a></li>
      <li><a class="navbar-link" href="/archive.html">Archive</a></li>
      <li><a class="navbar-link" href="/categories.html">Categories</a></li>
      <li><a class="navbar-link" href="/sitemap.html">Sitemap</a></li>
      <li><a class="navbar-link" href="/about.html">About</a></li>
      <li class="navbar-right" ><a class="navbar-link" href="/atom.xml">Subscribe</a></li>
    </ul>
  </div>
</div>
